/*Body html*/

body,
html {
    /*    margin-bottom: 60px;*/
    /*    overflow: hidden;*/
    height: 100%;
    /*    position: relative;*/
}


/*Navigation*/

.navbar-inverse .navbar-brand {
    color: rgb(245, 246, 230);
}

.navbar-inverse {
    background-color: rgb(47, 52, 82);
    border-color: rgb(84, 101, 144);
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: rgb(84, 101, 144);
    background-color: rgb(232, 232, 232);
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: rgb(232, 232, 232);
    background-color: rgb(84, 101, 144);
}

.navbar-inverse .navbar-nav>li>a {
    color: rgb(232, 232, 232);
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    color: rgb(84, 101, 144);
    background-color: rgb(232, 232, 232);
}

.dropdown-menu .activeItem {
    background-color: rgb(47, 52, 82);
    color: rgb(245, 246, 230);
}


/*Main content*/

.mtop {
    margin-top: 120px;
}

.mbottom {
    margin-bottom: 120px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.home img {
    border: 0;
    margin-bottom: 30px;
    margin-top: 80px;
}


/* independent vertical scroll bars*/

@media (min-width: 768px) {
    #left {
        height: 100%;
        border-right: 4px solid black;
    }
    #right {}
}

#left {
    background-color: rgb(232, 232, 232);
    text-align: center;
    /*    height: 80%;*/
}

#left .row {
    background-color: rgb(245, 246, 230);
    margin-bottom: 30px;
}

.form-horizontal .form-group .editorPhotoContainer,
.form-horizontal .form-group .editorEventContainer {
    margin-top: 15px;
}

.form-horizontal .form-group .editorPhotoContainer .editorPhotoItem,
.form-horizontal .form-group .editorEventContainer .editorEventItem {
    border: 1px solid black;
    padding: 4px;
    margin-bottom: 5px;
}

.form-horizontal .form-group .editorPhotoContainer .form-group,
.form-horizontal .form-group .editorEventContainer .form-group {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

#right {
    /*    height: calc(100% - 600px);*/
    background-color: rgb(232, 232, 232);
    text-align: center;
}


/*Footer*/

.footer h3 {
    padding: 0;
}

p .text-xs-center .text-sm-center .text-md-center .text-lg-center .text-xl-center {
    text-align: center;
}

.full {
    width: 100%;
}

.footer {
    background: rgb(47, 52, 82);
    height: 245px;
    padding-bottom: 10px;
    /*    position: absolute;*/
    width: 100%;
    border-bottom: 1px solid rgb(84, 101, 144);
    border-top: 1px solid rgb(84, 101, 144);
}

.footer img {
    max-width: 100%;
}

.footer h3 {
    border-bottom: 1px solid rgb(232, 232, 232);
    color: rgb(245, 246, 230);
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: rgb(245, 246, 230);
}

.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}

.footer a {
    color: rgb(245, 246, 230);
}


/*
.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
*/

.newsletter-box input#appendedInputButton {
    background: rgb(245, 246, 230);
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}

.newsletter-box .btn {
    /*
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
*/
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: rgb(245, 246, 230);
}

.newsletter-box {
    overflow: hidden;
}

.social li {
    background: none repeat scroll 0 0 rgb(84, 101, 144);
    /*    border: 2px solid rgb(84, 101, 144);*/
    /*
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
*/
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}

.social li a {
    color: #EDEFF1;
}

.social li:hover {
    /*    border: 2px solid rgb(232, 232, 232);*/
    background: rgb(232, 232, 232);
}

.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: rgb(232, 232, 232) !important;
}

.btn-facebook,
.btn-twitter {
    height: 36px;
}

botton,
input,
optgroup,
select,
textarea {
    color: rgb(47, 52, 82);
}

.footer-bottom {
    background: rgb(232, 232, 232);
    border-top: 1px solid rgb(47, 52, 82);
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-bottom p {
    padding-top: 6px;
}